<%- include ("partials/navbar.ejs") %>

    <body>
        <section class="homepage">
            <h1>Welcome to Aviral Digital Solutions</h1>
            <p>A Gateway to Seamless Multilingual Communication</p>
            <a href="#contact" class="button">Get Started</a>
        </section>


        <!-- <section class="portfolio">
            <h2>Language Portfolio</h2>
            <p>Explore our languages expertise...</p>
        </section> -->

        <section>
            <div class="projects">
                <h2>Projects Done So Far:</h2>
                <ul>
                    <div class="grid grid-three-col">
                        <li class="project-card green">
                            <h3 class="project-title">Multilingual Government Initiatives</h3>
                            <p class="project-description">
                                We collaborated with various government departments to translate essential public
                                information materials
                                into regional languages. This ensured effective communication with citizens across the
                                country and
                                promoted inclusivity.
                            </p>
                            <div class="project-tags">
                                <span class="tag-item">Government</span>
                                <span class="tag-item">Translation</span>
                                <span class="tag-item">Inclusivity</span>
                            </div>
                        </li>
                        <li class="project-card blue">
                            <h3 class="project-title">Educational Outreach</h3>
                            <p class="project-description">
                                Our team translated educational materials for NGOs working in remote areas. This
                                initiative
                                empowered
                                local communities with access to knowledge in their native languages, enhancing
                                educational
                                opportunities.
                            </p>
                            <div class="project-tags">
                                <span class="tag-item">Education</span>
                                <span class="tag-item">NGOs</span>
                                <span class="tag-item">Empowerment</span>
                            </div>
                        </li>
                        <li class="project-card yellow">
                            <h3 class="project-title">Corporate Communication</h3>
                            <p class="project-description">
                                Aviral Digital Solutions assisted businesses in expanding their reach by translating
                                marketing content,
                                product descriptions, and customer communication into multiple Indian languages. This
                                enabled businesses
                                to connect with diverse audiences effectively.
                            </p>
                            <div class="project-tags">
                                <span class="tag-item">Business</span>
                                <span class="tag-item">Marketing</span>
                                <span class="tag-item">Translation</span>
                            </div>
                        </li>
                    </div>
                    <div class="grid grid-two-col">
                        <li class="project-card yellow">
                            <h3 class="project-title">Cultural Exchange</h3>
                            <p class="project-description">
                                We partnered with cultural organizations to translate literature, art, and historical
                                documents. This
                                initiative aimed to preserve and share India’s rich heritage, fostering cultural
                                exchange
                                and
                                understanding.
                            </p>
                            <div class="project-tags">
                                <span class="tag-item">Culture</span>
                                <span class="tag-item">Heritage</span>
                                <span class="tag-item">Translation</span>
                            </div>
                        </li>
                        <li class="project-card green">
                            <h3 class="project-title">Media and Entertainment</h3>
                            <p class="project-description">
                                Our team translated subtitles and scripts for movies, TV shows, and online content. This
                                allowed
                                creators to connect with regional audiences on a deeper level, promoting entertainment
                                accessibility.
                            </p>
                            <div class="project-tags">
                                <span class="tag-item">Media</span>
                                <span class="tag-item">Entertainment</span>
                                <span class="tag-item">Translation</span>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </section>

        <section class="review-section">
            <h2>Client Testimonials</h2>
            <div class="outerdiv">
                <div class="innerdiv">
                    <div class="div1 eachdiv">
                        <div class="userdetails">
                            <div class="imgbox">
                                <img src="testimonial1.jpg" alt="">
                            </div>
                            <div class="detbox">
                                <p class="name">Jane Smith</p>
                                <p class="designation">Marketing Director of ABC Corporation</p>
                            </div>
                        </div>
                        <div class="review">
                            <h3>
                                Working with
                                Aviral Digital Solutions has been a pleasure. Their meticulous attention to detail in
                                translations and
                                understanding of cultural nuances has made a significant impact on our brand's global
                                presence.
                            </h3>
                        </div>
                    </div>
                    <!-- div2 -->
                    <div class="div2 eachdiv">
                        <div class="userdetails">
                            <div class="imgbox">
                                <img src="" alt="">
                            </div>
                            <div class="detbox">
                                <p class="name">John Doe</p>
                                <p class="designation">CEO of XYZ Company</p>
                            </div>
                        </div>
                        <div class="review">
                            <h5>Aviral Digital Solutions transformed our communication strategy. Their expertise in
                                multiple
                                languages
                                helped us connect with a global audience.</h5>
                        </div>
                    </div>
                    <!-- div3 -->
                    <div class="div3 eachdiv">
                        <div class="userdetails">
                            <div class="imgbox">
                                <img src="" alt="">
                            </div>
                            <div class="detbox">
                                <p class="name dark">Kira Whittle</p>
                                <p class="designation dark">CTO of ABC Company</p>
                            </div>
                        </div>
                        <div class="review dark">
                            <h4>Aviral Digital Solutions has been a game-changer for our business.
                                We've seen a remarkable improvement in our international communication since partnering
                                with Aviral Digital Solutions.
                                Their language expertise is second to none.</h4>
                        </div>
                    </div>
                    <!-- div4 -->
                    <div class="div4 eachdiv">
                        <div class="userdetails">
                            <div class="imgbox">
                                <img src="" alt="">
                            </div>
                            <div class="detbox">
                                <p class="name dark">Jeanette Harmon</p>
                                <p class="designation dark">Verified Graduate</p>
                            </div>
                        </div>
                        <div class="review dark">
                            <h5>We are extremely satisfied with the translation services provided by Aviral Digital
                            Solutions. Their attention to detail and cultural nuances is commendable.</h5>
                        </div>
                    </div>
                    <!-- div5 -->
                    <div class="div5 eachdiv">
                        <div class="userdetails">
                            <div class="imgbox">
                                <img src="" alt="">
                            </div>
                            <div class="detbox">
                                <p class="name">Patrick Abrams</p>
                                <p class="designation">Verified Graduate</p>
                            </div>
                        </div>
                        <div class="review">
                            <h4>Our collaboration with Aviral Digital Solutions has been a transformative experience.
                                Their language proficiency has given us a competitive edge in the international market.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mission">
            <h2>Mission and Vision</h2>
            <p>Our mission is to provide top-notch translation services...</p>
        </section>
    </body>

    <%- include ("partials/footer.ejs") %>